<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <fieldset>
        <h2><b><u><mark>FLIPKART</u></b></h2>
            <img src="./images/flipkart.jpeg" height="40" width="80" alt="">
            <label for="sh">search </label>
            <input id="sh" type="search" placeholder="search for products">
            <a href="./7.login.html">signin/login</a>  
            
            <h3><b><MARquee><u><mark>BIG BILLION SALE</u></MARquee></b></h3>
    
            <img src="./images/dww.png" alt="">
            <br>
    
            <table>
                <caption><h2><u>Best Mobiles</u></h2></caption>
                <tr>
                    <td><a href="https://www.flipkart.com/realme-11-pro-5g-sunrise-beige-256-gb/p/itm3f783627a36ec?pid=MOBGPUNGGMRMZDQ9&lid=LSTMOBGPUNGGMRMZDQ9RPSPAE&marketplace=FLIPKART&store=tyy%2F4io&srno=b_1_1&otracker=browse&fm=organic&iid=2331182a-7dc9-4681-8031-c51ae39b9011.MOBGPUNGGMRMZDQ9.SEARCH&ppt=None&ppn=None&ssid=bmoofjgn740000001699342093461" ><img src="./images/m1.webp" height="200" width="200" alt=""></a></td>
                    <td><img src="./images/m2.webp" height="200" width="200" alt=""></td>
                    <td><img src="./images/m3.webp" height="200" width="200" alt=""></td>
                    <td><img src="./images/m4.webp" height="200" width="150" alt=""></td>
                </tr>
                <tr>
                    <td><b>real me 11pro 5g</b></td>
                    <td><b>nothing phone2</b></td>
                    <td><b>galaxy s23 ultra</b></td>
                    <td><b>iphone14</b></td>
                </tr>
                <tr>
                    <td>from <mark>₹24,900</td>
                    <td>from <mark>₹39,000</td>
                    <td>from <mark>₹1,24,999</td>
                    <td>from <mark>₹56,000</td>
                </tr>
            </table>
    
            <table>
                <caption><h2><u>Best Deals</u></h2></caption>
                <tr>
                    <th><h3><u>home products</u></h3></th>
                    <th><h3><u>makeup products</u></h3></th>
                    <th><h3><u>gadgets</u></h3></th>
                    <th><h3><u>styling</u></h3></th>
                </tr>
                <tr>
                    <td><a href="https://www.flipkart.com/washing-machines/pr?sid=j9e,abm,8qx"><img src="./images/home.jpeg" alt=""></a></td>
                    <td><img src="./images/makeup.jpg" height="200" width="200" alt=""></td>
                    <td><img src="./images/gadgets.jpeg" height="200" width="200" alt=""></td>
                    <td><img src="./images/dresses.jpg" height="200" width="200" alt=""></td>
                </tr>
                <hr><tr>
                    <td><b>upto 30% offer</b></td>
                    <td><b>upto 40% offer</b></td>
                    <td><b>upto 10% offer</b></td>
                    <td><b>buy2 get1 free</b></td>
                </tr>
            </table>
            <br>
            <img src="./images/SBI.webp" alt="">
            <br><br><hr>
            <img src="./images/flight.webp" alt="">
            <br>
            <hr>
            <table>
                <tr>
                    <td><img src="./images/a1.webp" height="300" width="500" alt=""></td>
                    <td><img src="./images/a2.webp" height="300" width="500" alt=""></td>
                    <td><img src="./images/a3.webp" height="300" width="500" alt=""></td>
                </tr>
            </table>
            <hr>
            <img src="./images/f1.png" alt=""></td>
            <br>
            <img src="./images/f2.png" alt=""></td>  
            <br><br>  
            <hr>
        <fieldset>
            <table>
                <tr><th>ABOUT</th>
                    <th>HELP</th>
                    <th>SOCIAL</th>
                </tr>
                <TR>
                    <td>contact us</td>
                    <td>payments</td>
                    <td>cancellation&return</td>
                    
                </TR>
                <tr>
                    <td>about us</td>
                    <td>shipping</td>
                    <td>terms of use</td>
                </tr>
                <tr>
                    <td>careers</td>
                    <td>FAQ</td>
                    <td>privacy</td>
                </tr>
            </table>
        </fieldset>
    </fieldset>


</body>
</html>